#body{
    font-family: 'Raleway', sans-serif;
}
:root {
    --primary:#6246ea;
    --secondary:#ddddf0;
    --tertiary:#e45858;
}
.container{
    max-width: 1400px;
    margin: 0 auto;
    padding: 2rem 5rem;
}
input{
    display: none;
    padding-left: 25px;
    &:focus{
        outline: var(--primary);
    }
}

label{
    display: none;
}
.flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.btn{
    font-size: 1.3rem;
    text-decoration: none;
    font-weight: 700;
    color: #fffffe;
    background-color: var(--primary);
    padding: 1.3rem 2rem;
    border-radius: 4px;
    &:hover{
        background-color: #4020e0;
    }
}