.feed{
    border-bottom: 1px solid gray;
    margin-bottom: 1rem;
    
}
.global-field{
    width: 6.5rem;
    padding-bottom: 1.1rem;
    border-bottom: 3px solid black;
}

.feed-nav{
    h5{
        margin-right: 2rem;
        text-align: center;
        font-size: 1.2rem;
    }
    justify-content: flex-start;
}
